<!DOCTYPE html>

<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/tangaraIcon.ico">
    <link rel="stylesheet" href="/css/master.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&family=Indie+Flower&family=Libre+Baskerville&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,200&display=swap" rel="stylesheet">
    <title>Eduardo Tangara</title>
  </head>
  <body>
    <nav class="nav">
      <input type="checkbox" id="nav-checkbox" class="nav-checkbox">
      <label for="nav-checkbox" class="nav-toggle">
        <img src="/images/menuHamb.png" class="menu-hamb" alt="Menu">
        <img src="/images/close.png" alt="Menu" class="close">
      </label>
      <ul class="nav-menu">
        <li> <a href="/"><a href="/"><img class="BWlogo" src="/images/bw.png" alt="tangara-logo"></a></a></li>
        <li><a href="/lambe">TEATRO</a></li>
        <li><a href="/livros">LIVROS</a></li>
        <li><a href="/contacao">CONTAÇÃO</a></li>
        <li><a href="/posts">BLOG</a></li>
        <li><a href="/contato">CONTATO</a></li>
      </ul>
    </nav>


      <!-- <div class="menu">
        <div class="logo">
          <a href="/"><img class="BWlogo" src="/images/bw.png" alt="tangara-logo"></a>
        </div>
        <div class="nav">
          <ul>
            <li><a href="/lambe">TEATRO</a></li>
            <li><a href="/livros">LIVROS</a></li>
            <li><a href="/contacao">CONTAÇÃO</a></li>
            <li><a href="/posts">BLOG</a></li>
            <li><a href="/contato">CONTATO</a></li>
          </ul>
        </div>
    </div> -->
