<%-include("partials/header")-%>

<div class="empty"></div>
<section class="pagina">
  <article class="cartao contacao">
    <!-- <img src="images/contacao.jpeg" alt="contacao-estorias"> -->
    <img src="images/contacao1.png" alt="contacao-estorias">
    <div class="descricao" id="descricao-contacao">
      <h3>Contação de estórias </h3>
      <p>
        “Às vezes das cinzas surge uma brasa, às vezes da brasa surge uma fogueira, às vezes em volta de uma fogueira uma estória é contada e às vezes de uma estória uma lição é aprendida.”
      </p>
      <div class="btn-form" id="contato-contacao">
        <form action="/contacao" method="post">
          <input type="text" name="assunto" value="Informações - contação de estórias" hidden>
          <input class="btn" type="submit" value="Contato">
        </form>
      </div>
    </div>

  </article>
</section>

<%-include("partials/footer")-%>
