<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/tangaraIcon.ico">
    <link rel="stylesheet" href="css/master.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inder&family=Indie+Flower&family=Libre+Baskerville&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,200&display=swap" rel="stylesheet">
    <title>Eduardo Tangara</title>
  </head>
  <body>
    <form class="criar-post" action="" method="post">
      <label for="tituloPost">Título</label>
      <input type="text" name="tituloPost" id="tituloPost">
      <label for="msg">Texto</label>
      <textarea name="postTexto" rows="8" cols="80"></textarea>
    </form>
  </body>
</html>
