<%- include("partials/header") -%>
<div class="empty"></div>
<section>
    <div class="contato enviado">
      <div class="campo">
        <h1>Olá, <%=nome%></h1>
        <h2>Seu mensagem foi enviada com sucesso! <br> Logo entrarei em contato contigo!</h2>
      </div>
    </div>
</section>

<%- include("partials/footer") -%>
