<%- include("partials/header") -%>
<section class="top-container">
      <div class="container">
        <spam class="nome">Eduardo Tangara</spam>
        <div class="swinger olho">
          <img src="images/tangaraLogoOLHO.png">
          <img src="images/tangaraCima.png">
          <img src="images/tangaraCimaDireita.png">
          <img src="images/tangaraDireito.png">
          <img src="images/tangaraBaixoDireita.png">
          <img src="images/tangaraBaixo.png">
          <img src="images/tangaraBaixoEsquerda.png">
          <img src="images/tangaraEsquerdo.png">
          <img src="images/tangaraCimaEsquerda.png">
        </div>
    </div>
</section>

<section class="container-atividades">
  <div class="card">
    <img src="images/diligencia.png" alt="diligencia-card">
    <div class="card-container">
      <a href="/lambe">Teatro <br> Diligência</a>
    </div>
  </div>
<div class="card">
  <img src="images/Porco-espinhobranco.png" alt="porco-espinho-card">
  <div class="card-container">
    <a id="livros" href="/livros">Livros</a>
  </div>
</div>
<div class="card">
  <img src="images/bosquimanos.png" alt="estorias-card">
  <div class="card-container">
    <a href="/contacao">Contação de estórias</a>
  </div>
</div>
</section>

<section class="bottom-container">
  <h4>Viva para brincar, brinque para viver...</h4>
  <img src="images/tangaraLogoAsa.png" alt="tanagara-ilustracao">
</section>

  <!-- Scripts -->
  <script src="jquery.min.js"></script>
  <script src="swinger.js"></script>
  <script>
    $('.swinger').swinger();

  </script>


  </body>
</html>
