<%-include("partials/header")-%>

<div class="empty"></div>
<section class="pagina" id="section-lambe">
  <article class="cartao lambe">
    <img src="images/lambe.png" alt="capa-livro">
    <div class="descricao">
      <div id="lambe">
        <h1 id="lambe-h1">Teatro Lambe-Lambe</h1>
        <h5>Espetáculo  </h5>
        <h4>Tipi - Lugar de Viver</h4>
        <p>
        Dentro da Tipi está a flor vermelha do lume provendo proteção, luz e calor. Nossos medos e nossas necessidades de proteção, conforto e segurança ainda são os mesmos de tempos imemoriais. Nesse espetáculo Omã, o xamã, Uma Uma, a mulher curadora e Sukiá, o bebê, nos deixam uma mensagem.
        </p>
        <div class="btn-form" id="contato-lambe">
          <form action="/lambe" method="post">
            <input type="text" name="assunto" value="Informações - Teatro Lambe-Lambe" hidden>
            <input class="btn" type="submit" value="Contato">
          </form>
        </div>
      </div>
    </div>

  </article>
</section>

<div class="footer-lambe">
  <img class="img-footer" src="images/tangaraLogoAsaFooter.png" alt="tanagara-ilustracao">
  <p id="copy-lambe">&copy Eduardo Tangara &#9978 &#x1f994;</p>
</div>

</body>

</html>
