<%-include("partials/header")-%>
<div class="empty">

</div>
<section class="pagina">
  <article class="cartao">
    <div class="">
      <h1>  404 - Página não encontrada </h1>
      <!-- <p>Página não encontrada</p>       -->
    </div>
  </article>
</section>
<%-include("partials/footer")-%>
